*{
    margin: 0;
    padding: 0;
}
body{
    background-color: skyblue;
    overflow-x: hidden;
}
#one{
    height: 100vh;
    width: 100%;
    background-color: blue;
    overflow-x: hidden;
    overflow: hidden;
    border: 5px solid black;
    text-align: center;
    background-image: url("https://myevent.com/storage/694309e4/d066e44c/45686137725f256d9375f21c2945d94c.png?1507678847");
    background-repeat: no-repeat;
    background-size: cover;
}
#one h1{
    font-size: 60px;
    font-family: cursive;
    font-weight: 900;
    word-spacing: 2px;
    text-shadow: 4px 4px skyblue;
    letter-spacing: 1.5px;
    margin-top:300px ;
    margin-bottom: 40px;
}
.one{
    height:400px;
    width:40%;
    overflow: hidden;
    background-color:#DB6B97;
    display: inline-block;
    border: 4px solid white;
    padding: 2px;
    border-radius: 8px;
}
#two{
    text-align: center;
    margin: -100px;
}
.one p{
    font-size: 20px;
    font-weight: 600;
}
.one h1{
    font-size: 30px;
    font-weight: 900;
    font-family: cursive;
    text-decoration: underline;
    text-shadow: 1px 1px white;
}
.one h1:hover{
    font-size: 40px;
    background-color: whitesmoke;
}
figcaption{
    font-size: 20px;
    font-weight: 400;
}
figcaption a:hover{
    color: whitesmoke;
    font-size: 30px;
}
.one:hover{
    height: 500px;
    width: 27%;
}


@media  screen and(min-width:50px), (max-width:767px) {
    #one h1{
        font-size: 35px;
        text-shadow: 2px 2px yellow;
        margin-bottom:-400px;
    }
    .one{
        display: block;
        width:100%;
        text-align: center;
        margin: 0px 0px;
        padding: 2px;
    }

    #two{
        text-align:center;
    }
    .one:hover{
        height: 400px;
        width: 100%;

    }
}
